{
    "tabWidth": 2,
    "semi": true,
    "singleQuote": false,
    "trailingComma": "es5",
    "printWidth": 120,
    "useTabs": false,
    "endOfLine":"auto",
    "editor.codeActionsOnSave": {
      "source.fixAll.eslint": true
    }
  }
