.image {
  width: 250px;
  height: 200px;
}
.price {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.noSale {
  font-size: 1.2rem;
}
.spinner {
  display: flex;
  justify-content: center;
}
.article {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}
.cart {
  display: flex;
  gap: 30px;
}
