$color-blue: #1769aa;

.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 45px 0;
}

.form {
  width: 30%;
  min-width: 362px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 25px;
}

h6 {
  text-align: center;
}

.link {
  color: $color-blue;
  text-decoration: none;
}
