.container {
  max-width: 900px;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 15px;
  justify-items: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-width: 350px;
}

.image {
  width: 100%;
  object-fit: cover;
}

.originalPrice {
  color: black
}

.originalPriceStriked {
  color: #888;
  text-decoration: line-through;
}

.discountedPrice {
  color: #e74c3c;
  font-size: 1.2em;
  margin-top: 8px;
}