@import "../../sass/abstract/constants";

* {
  box-sizing: border-box;
}

.form {
  width: 50%;
  min-width: 358px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 25px;
}

button {
  width: 100%;
}
